<section class="hero">
  <div class="hero__inside">
    <div class="hero__image">
      <figure>
        <picture>
          <source srcset="{{ post.img.srclarge }}" media="(min-width: 700px)" />
          <img srcset="{{ post.img.srcsmall }}" alt="{{ post.img.alt }}" title="{{ post.img.title }}" />
        </picture>
      </figure>
    </div><!--/.hero__image-->
    <div class="hero__text" data-words="{% for post2 in post.words %}{{ post2.title}}{% if loop.index != loop.last %},{% endif %}{% endfor %}">
      <h2>{{ post.text }} <br/><span class="active-text-and-cursor"><span class="active-text"></span></span></h2>
    </div><!--/.hero__text-->
  </div><!--/.hero__inside-->
</section><!--/.hero-->
