<!DOCTYPE html>
<html class="{{ htmlclass }} no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {# Define paths for convenience #}
    {% set css = '../../css' %}
    {% set js = '../../js' %}
    {% set cms = '../../cms' %}
    {% set jshead = '../../js/vendorhead' %}
    {% set favicons = '../../favicons' %}

    <!-- begin favicon references -->
    <link rel="shortcut icon" sizes="16x16" href="{{ favicons }}/favicon.ico" type="image/vnd.microsoft.icon" />
    <!-- end favicon references -->

    <link href="https://fonts.googleapis.com/css?family=Barlow:400,600,700|Lato:400,400i,700,700i" rel="stylesheet">

    <link rel="stylesheet" href="{{css}}/style.css" media="all" />
    <link rel="stylesheet" href="{{css}}/cms.min.css" media="all" />
    <link rel="stylesheet" href="{{css}}/app.min.css" media="all" />
    <link rel="stylesheet" href="{{css}}/plab.css" media="all" />

    <!-- TODO  move all these to PLAB? -->

    <script src="{{cms}}/jquery.js?v=1.4.4"></script>
    <script src="{{cms}}/jquery.once.js?v=1.2"></script>
    <script src="{{cms}}/drupal.js?p45bwj"></script>
    <script src="{{cms}}/jquery.ui.core.min.js?v=1.8.7"></script>
    <script src="{{cms}}/jquery.ui.widget.min.js?v=1.8.7"></script>
    <script src="{{cms}}/jquery.cookie.js?v=1.0"></script>
    <script src="{{cms}}/jquery.form.js?v=2.52"></script>
    <script src="{{cms}}/jquery.ui.button.min.js?v=1.8.7"></script>
    <script src="{{cms}}/jquery.ui.mouse.min.js?v=1.8.7"></script>
    <script src="{{cms}}/jquery.ui.draggable.min.js?v=1.8.7"></script>
    <script src="{{cms}}/jquery.ui.position.min.js?v=1.8.7"></script>
    <script src="{{cms}}/jquery.ui.resizable.min.js?v=1.8.7"></script>
    <script src="{{cms}}/jquery.ui.dialog.min.js?v=1.8.7"></script>
    <script src="{{cms}}/jquery.ui.dialog.patch.js?v=1.8.7"></script>
    <script src="{{cms}}/contextual.js?v=1.0"></script>
    <script src="{{cms}}/jquery.bgiframe.js?v=2.1"></script>
    <script src="{{cms}}/jquery.hoverIntent.js?v=0.5"></script>
    <script src="{{cms}}/superfish.js?v=1.4.8"></script>
    <script src="{{cms}}/nice_menus.js?v=1.0"></script>
    <script src="{{cms}}/ajax.js?v=7.44"></script>
    <script src="{{cms}}/jquery-2.1.3.min.js?p45bwj"></script>
    <script src="{{cms}}/jquery.magnific-popup.min.js?p45bwj"></script>
    <script src="{{cms}}/jquery.magnific-popup.js?p45bwj"></script>
    <script src="{{cms}}/switch.js?p45bwj"></script>
    <script src="{{cms}}/apachesolr_sort.js?p45bwj"></script>
    <script src="{{cms}}/admin_menu.js?p45bwj"></script>
    <script src="{{cms}}/admin_menu_toolbar.js?p45bwj"></script>
    <script src="{{cms}}/jquery.colorbox-min.js?p45bwj"></script>
    <script src="{{cms}}/colorbox.js?p45bwj"></script>
    <script src="{{cms}}/colorbox_style.js?p45bwj"></script>
    <script src="{{cms}}/colorbox_load.js?p45bwj"></script>
    <script src="{{cms}}/colorbox_inline.js?p45bwj"></script>
    <script src="{{cms}}/progress.js?v=7.44"></script>
    <script src="{{cms}}/modal.js?p45bwj"></script>
    <script src="{{cms}}/ioby_user_modal.js?p45bwj"></script>
    <script src="{{cms}}/base.js?p45bwj"></script>
    <script src="{{cms}}/ajax_view.js?p45bwj"></script>
    <script src="{{cms}}/ioby-project-notification.js?p45bwj"></script>
    <script src="{{cms}}/nodequeue.js?p45bwj"></script>
    <script src="{{cms}}/autocomplete.js?v=7.44"></script>
    <script src='{{js}}/picturefill.min.js'></script>
    <script src='{{js}}/plugins.min.js'></script>
    <script src='{{js}}/scripts.min.js'></script>

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ bodyClass }} {% if home %}refresh-home{% endif %}">
