<article class="article-preview">
  <a href="{{ article.href }}">
    <div class="article-preview__image">
      <img src="{{ article.image }}"/>
    </div>
    <div class="article-preview__content">
      <span class="article-preview__date">{{ article.date }}</span>
      <h3 class="article-preview__title">{{ article.title }}</h3>
      <div class="article-preview__description">{{ article.description|raw }}</div>
      <a class="uc button orange" href="{{ article.href }}">{{ article.linkText }}</a>
    </div>
  </a>
</article>